* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: 3fr 1fr 1fr;
  grid-gap: 1.5rem;
  height: 80vh;
  width: 90vw;
  margin: 4vh auto 0;
  padding: 2.5rem;
}

.subject-card {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #c9ccc1;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 1fr;
  grid-gap: 1rem;
  animation-name: slide-in-from-top;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
}

.stat-block {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #c9ccc1;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1.2rem;
  padding: 1.4rem;
  animation-name: slide-in-from-right;
  animation-delay: 1s;
  animation-duration: 1.2s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-out;
}

.action-block {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  background-color: #c9ccc1;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
}

.subject-image {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #fff;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
  background-image: url("https://media-waterdeep.cursecdn.com/avatars/thumbnails/0/165/1000/1000/636252760084366499.jpeg");
  background-size: cover;
  background-position: top;
}

.subject-text {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  background-color: #fff;
  background-image: linear-gradient(to right, rgba(209, 207, 175, 0.4), rgba(239, 237, 206, 0.4)), url("../lightpaperfibers/lightpaperfibers.png");
  color: #666668;
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
  padding: 4rem;
}
.subject-text--wrapper {
  text-align: left;
}
.subject-text--header {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.subject-text--body {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
}

.base-stats {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(209, 207, 175, 0.4), rgba(239, 237, 206, 0.4)), url("../lightpaperfibers/lightpaperfibers.png");
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
}
.base-stats-icons {
  margin-top: 5rem;
}
.base-stats-icons_wrapper {
  text-align: left;
  margin-top: 6rem;
  margin-left: 4rem;
  color: #666668;
}
.base-stats-card {
  transition: all 0.2s;
  height: 100%;
  width: 100%;
  perspective: 100rem;
}
.base-stats-card-side {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.base-stats-card-front {
  height: 100%;
}
.base-stats-card-back {
  height: 100%;
  transform: rotateY(180deg);
}
.base-stats-card:hover .base-stats-card-front {
  transform: rotateY(180deg);
}
.base-stats-card:hover .base-stats-card-back {
  transform: rotateY(0deg);
}

.armor-class:hover {
  color: #2e5491;
  cursor: pointer;
}

.health-points:hover {
  color: #9b0000;
  cursor: pointer;
}

.base-speed:hover {
  color: #c4a74a;
  cursor: pointer;
}

.armor-class-span,
.health-points-span,
.base-speed-span {
  font-size: 3rem;
  font-family: "Lato", sans-serif;
  margin-left: 2rem;
  color: #666668;
}

.attributes {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #fff;
  background-image: linear-gradient(to right, rgba(209, 207, 175, 0.4), rgba(239, 237, 206, 0.4)), url("../lightpaperfibers/lightpaperfibers.png");
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
}
.attributes-strength {
  animation-name: shift-from-red;
  animation-fill-mode: forwards;
  animation-duration: 10s;
}
.attributes-strength:hover {
  animation-name: shift-to-red;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
}
.attributes-dexterity {
  animation-name: shift-from-yellow;
  animation-fill-mode: forwards;
  animation-duration: 10s;
}
.attributes-dexterity:hover {
  animation-name: shift-to-yellow;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
}
.attributes-constitution {
  animation-name: shift-from-orange;
  animation-fill-mode: forwards;
  animation-duration: 10s;
}
.attributes-constitution:hover {
  animation-name: shift-to-orange;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
}
.attributes-intelligence {
  animation-name: shift-from-blue;
  animation-fill-mode: forwards;
  animation-duration: 10s;
}
.attributes-intelligence:hover {
  animation-name: shift-to-blue;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
}
.attributes-wisdom {
  animation-name: shift-from-purple;
  animation-fill-mode: forwards;
  animation-duration: 10s;
}
.attributes-wisdom:hover {
  animation-name: shift-to-purple;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
}
.attributes-charisma {
  animation-name: shift-from-pink;
  animation-fill-mode: forwards;
  animation-duration: 10s;
}
.attributes-charisma:hover {
  animation-name: shift-to-pink;
  animation-fill-mode: forwards;
  animation-duration: 1.2s;
}
.attributes-strength, .attributes-dexterity, .attributes-constitution, .attributes-intelligence, .attributes-wisdom, .attributes-charisma {
  display: inline-block;
  text-align: center;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  color: #666668;
  width: 3.8rem;
}
.attributes-icon-wrapper {
  margin-top: 3.4rem;
}
.attributes-text-wrapper {
  margin-top: 1rem;
}
.attributes-text-short {
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: #666668;
  width: 3.8rem;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
}
.attributes-score-wrapper {
  margin-top: 2rem;
}
.attributes-score {
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  color: #666668;
  width: 3.8rem;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
}

.additional-stats {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #fff;
  background-image: linear-gradient(to right, rgba(209, 207, 175, 0.4), rgba(239, 237, 206, 0.4)), url("../lightpaperfibers/lightpaperfibers.png");
  border-radius: 0.8rem;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
  display: grid;
  padding: 1rem 0 0 0;
  overflow-y: scroll;
  /*&-left-column{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &-left-wrapper{

    & > h3{
      background-image: linear-gradient(to bottom right, rgba($color-deep-red, .8), rgba($color-middle-red, .8));
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 2rem;
      text-align: left;
      color: $color-white;

      padding: .6rem .6rem .6rem 2rem;
    }

    & > p{
      font-family: "Lato", sans-serif;
      font-size: 1.4rem;
      font-weight: bold;
      text-align: left;
      color: $color-ink-gray;

      margin: 1.2rem 0 1rem 2rem;

      & > span{
        &:not(:first-child){
          margin-left: 1.8rem;
        }
      }
    }
  }*/
}
.additional-stats::-webkit-scrollbar {
  display: none;
}
.additional-stats-actions-banner, .additional-stats-special-banner {
  background-image: linear-gradient(to bottom right, rgba(155, 0, 0, 0.8), rgba(188, 0, 0, 0.8)), url("../roughcloth/roughcloth.png");
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #fff;
  margin-top: 1rem;
  padding: 1rem;
  transform: skewY(-2deg);
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
}
.additional-stats-actions-banner > h2, .additional-stats-special-banner > h2 {
  transform: skewY(2deg);
}
.additional-stats-text-wrapper, .additional-stats-special-text-wrapper {
  margin-top: 2rem;
  text-align: left;
  color: #666668;
  padding: 2rem;
}
.additional-stats-text-wrapper > h3, .additional-stats-special-text-wrapper > h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}
.additional-stats-text-wrapper > p, .additional-stats-special-text-wrapper > p {
  margin-top: 1rem;
  margin-bottom: 1.6rem;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
}

.base-stats-heading {
  text-align: center;
  margin-top: 3.2rem;
  padding: 3rem;
  background-image: linear-gradient(to bottom right, rgba(155, 0, 0, 0.8), rgba(188, 0, 0, 0.8)), url("../roughcloth/roughcloth.png");
  transform: skewY(-5deg);
  color: #fff;
  box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
  backface-visibility: hidden;
}
.base-stats-heading-header {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 0.5rem;
  transform: skewY(5deg);
}
.base-stats-heading-subtext {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  transform: skewY(5deg);
}

@keyframes slide-in-from-top {
  from {
    opacity: 0;
    transform: translateY(-50rem);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}
@keyframes slide-in-from-right {
  from {
    opacity: 0;
    transform: translateX(70rem);
  }
  to {
    opacity: 100%;
    transform: translateX(0);
  }
}
@keyframes shift-to-red {
  from {
    color: #666668;
  }
  to {
    color: #9b0000;
  }
}
@keyframes shift-from-red {
  from {
    color: #9b0000;
  }
  to {
    color: #666668;
  }
}
@keyframes shift-to-blue {
  from {
    color: #666668;
  }
  to {
    color: #2e5491;
  }
}
@keyframes shift-from-blue {
  from {
    color: #2e5491;
  }
  to {
    color: #666668;
  }
}
@keyframes shift-to-yellow {
  from {
    color: #666668;
  }
  to {
    color: #c4a74a;
  }
}
@keyframes shift-from-yellow {
  from {
    color: #c4a74a;
  }
  to {
    color: #666668;
  }
}
@keyframes shift-to-orange {
  from {
    color: #666668;
  }
  to {
    color: #c1671d;
  }
}
@keyframes shift-from-orange {
  from {
    color: #c1671d;
  }
  to {
    color: #666668;
  }
}
@keyframes shift-to-purple {
  from {
    color: #666668;
  }
  to {
    color: #4e198e;
  }
}
@keyframes shift-from-purple {
  from {
    color: #4e198e;
  }
  to {
    color: #666668;
  }
}
@keyframes shift-to-pink {
  from {
    color: #666668;
  }
  to {
    color: #8e1951;
  }
}
@keyframes shift-from-pink {
  from {
    color: #8e1951;
  }
  to {
    color: #666668;
  }
}

/*# sourceMappingURL=style.css.map */
