.base-stats{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;

    background-color: transparent;


    &-icons{
        margin-top: 5rem;//10rem;
    }

    &-icons_wrapper{
        text-align: left;
        margin-top: 6rem;
        margin-left: 4rem;
        color: $color-ink-gray;
    }

    &-card{
        transition: all .2s;
        height: 100%;
        width: 100%;
        perspective: 100rem;

        &-inner{
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.8s;
            transform-style: preserve-3d;
        }

        &:hover &-inner{
            transform: rotateY(180deg);
        }

        &-front,
        &-back{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            background-image: $paper-texture;
            border-radius: $box-corners;
            box-shadow: $shadow-main;
        }

        &-front{
            height: 100%;
        }

        &-back{
            height: 100%;
            transform: rotateY(180deg);
            overflow-y: scroll;
            &::-webkit-scrollbar{
                display: none;
            }
        }
    }

    &-title-banner{
        background-color: $color-middle-red;
        height: 4rem;
        width: 85%;
        margin-top: 2rem;
        clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
        text-align: left;
    }

    &-title{
        font-size: 1.8rem;
        font-family: "Yanone Kaffeesatz", sans-serif;
        text-transform: uppercase;
        letter-spacing: .2rem;
        color: $color-white;
        padding: 1rem;
    }

    &-wrapper{
        width: 85%;
        margin: 0;
        text-align: left;
        padding-left: 2rem;
    }

    &-throws{
        display: inline-block;
        margin: 1rem;
        font-size: 1.4rem;
        font-family: "Lato", sans-serif;
        color: $color-ink-gray;

        &-type{
            text-transform: uppercase;
        }

        &-title{
            text-transform: capitalize;
        }
    }

    &-resistances{
        margin: 1rem;
        font-size: 1.4rem;
        font-family: "Lato", sans-serif;
        color: $color-ink-gray;

        &-span{
            margin-right: 1rem;
        }
    }

}

.armor-class-span,
.health-points-span,
.base-speed-span{
    font-size: 3rem;
    font-family: "Lato", sans-serif;
    margin-left: 2rem;
    color: $color-ink-gray;
}

.base-speed-item{
    margin-bottom: 1.5rem;
}

@media only screen and (max-height: 820px){
    .armor-class-span,
    .health-points-span,
    .base-speed-span{
        font-size: 18px;
    }

    .base-speed-wrapper{
        height: 10px;
        display: inline;
        position: absolute;
    }

    .base-speed-item{
        display: inline;
        margin-right: 15px;
    }
}

@media only screen and (max-height: 700px){
    .base-stats-icons_wrapper{
        margin-top: 40px;
    }

    .base-speed-wrapper{
        height: 10px;
    }
}

.base-speed-wrapper{
    width: 30rem;
    display: inline-block;
    position: absolute;
}

@media only screen and (max-width: 900px){
    .base-stats{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;

        &-heading{
            height: 10px;
            overflow: hidden;
            margin-top: 0;
            transform: translateY(0) !important;

            &-header{
                margin-top: -25px;
                transform: translateY(0) !important;
            }

            &-subtext{
                transform: translateY(0) !important;
            }
        }

        &-icons_wrapper{
            display: inline-block;
            position: relative;
            margin-left: 20px;
        }

        &-icons{
            text-align: left;
            width: 90%;
            margin: 0 auto;
        }
    }

    .armor-class-span,
    .health-points-span{
        font-size: 20px;
    }

    .base-speed-wrapper{
        width: 500px;
    }

    .base-speed-item{
        font-size: 20px;
        margin-right: 20px;
        display: inline-block;
    }
}